
      {% extends 'usuarios/base.html' %}
      {% block conteudo %}    

      <form action="{% url 'listagem' %}" method="post">
        {% csrf_token %}
          <div style="position: absolute; left: 43%; top: 14%;">
            Funcionarios <input name="funcionarios" style="width: 100px;" type="number">
          </div>
          <br></br>
          <br></div>
          <div style="position: absolute; left: 43%; top: 20%;">
            <button type="button" name="bt1mais" value="Incrementar">Aumentar</button>
            <button type="button" name="bt1menos">Diminuir</button>
          </div>
          <br></div>
    
            <div style="position: absolute; left: 43%; top: 30%;">
              Clientes <input name="clientes" style="width: 100px;" type="number">
            </div>
            <br></div>
            <div style="position: absolute; left: 43%; top: 36%;">
              <button type="button" class="bt2mais">Aumentar</button>
              <button type="button" class="bt2menos">Diminuir</button>
            </div>
            <br></div>
      
          <div style="position: absolute; left: 43%; top: 45%;">
            Fornecedores <input name="fornecedores" style="width: 100px;" type="number">
          </div>
          <br></div>
          <div style="position: absolute; left: 43%; top: 51%;">
            <button type="button" class="bt3mais">Aumentar</button>
            <button type="button" class="bt3menos">Diminuir</button>
          </div>
          <br></div>
    
          <div style="position: absolute; left: 43%; top: 60%;">
            Produtos <input name="produtos" style="width: 100px;" type="number">
          </div>
          <br></div>
          <div style="position: absolute; left: 43%; top: 66%;">
            <button type="button" class="bt4mais">Aumentar</button>
            <button type="button" class="bt4menos">Diminuir</button>
          </div>
          <br></div>
    
          <div style="position: absolute; left: 43%; top: 75%;">
            Empresas terceiras <input name="empresas_terceiras" style="width: 100px;" type="number">
          </div>
          <br></div>
          <div style="position: absolute; left: 43%; top: 81%;">
            <button type="button" class="bt5mais">Aumentar</button>
            <button type="button" class="bt5menos">Diminuir</button>
          </div>
          <br></div>
    
          <button style="position: absolute; left: 43%; top: 89%;">Salvar</button>
    </form>
    {% endblock %}