
      {% extends 'usuarios/base.html' %}
      {% block conteudo %}    
      <form action="{% url 'listagem' %}" method="post">
        {% csrf_token %}
          <div style="position: absolute; left: 43%; top: 14%;">
            Funcionarios <input name="funcionarios" style="width: 100px;" type="number">
          </div>
          <br></br>
          <br></div>
          <div style="position: absolute; left: 43%; top: 20%;">
            <button type="button" class="bt1mais">Aumentar</button>
            <button type="button" class="bt1menos">Diminuir</button>
          </div>
          <br></div>
    
          <div style="position: absolute; left: 43%; top: 30%;">
            Clientes <input style="width: 100px;" type="number">
          </div>
          <br></div>
          <div style="position: absolute; left: 43%; top: 36%;">
            <button type="button" class="bt2mais">Aumentar</button>
            <button type="button" class="bt2menos">Diminuir</button>
          </div>
          <br></div>
    
          <div style="position: absolute; left: 43%; top: 45%;">
            Fornecedores <input style="width: 100px;" type="number">
          </div>
          <br></div>
          <div style="position: absolute; left: 43%; top: 51%;">
            <button type="button" class="bt3mais">Aumentar</button>
            <button type="button" class="bt3menos">Diminuir</button>
          </div>
          <br></div>
    
          <div style="position: absolute; left: 43%; top: 60%;">
            Produtos <input style="width: 100px;" type="number">
          </div>
          <br></div>
          <div style="position: absolute; left: 43%; top: 66%;">
            <button type="button" class="bt4mais">Aumentar</button>
            <button type="button" class="bt4menos">Diminuir</button>
          </div>
          <br></div>
    
          <div style="position: absolute; left: 43%; top: 75%;">
            Empresas terceiras <input style="width: 100px;" type="number">
          </div>
          <br></div>
          <div style="position: absolute; left: 43%; top: 81%;">
            <button type="button" class="bt5mais">Aumentar</button>
            <button type="button" class="bt5menos">Diminuir</button>
          </div>
          <br></div>
    
          <button style="position: absolute; left: 43%; top: 89%;">Salvar</button>
    </form>
    {% endblock %}