{% extends 'usuarios/base.html' %}
{% block conteudo %}   
<div class="container">
    <table class="table table-bordered table-bordered">
        <tr>
            <th>id</th>
            <th>Funcionarios</th>
            <th>Clientes</th>
            <th>Fornecedores</th>
            <th>Produtos</th>
            <th>Empresa_terceiras</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.id}}</td>
            <td>{{usuario.funcionarios}}</td>
            <td>{{usuario.clientes}}</td>
            <td>{{usuario.fornecedores}}</td>
            <td>{{usuario.produtos}}</td>
            <td>{{usuario.empresas_terceiras}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}